/*
Blue: 	     #4F70CF
Turquoise:   #13BBAE
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

#googleMap{
  margin: 2%;
}

#legend{
  list-style-type: none;
  margin: none;
  padding: none;
}

#legend li{
  padding: 1%;
}

.infoWindow h1{
  color: #4F70CF;
  font-size: 90%;
  font-weight: 600;
}

.infoWindow h2{
  color: #000;
  font-size: 85%;
}
