.navbar {
    height: 110px;
    width: 100%;
    background-color: #845A6D;
    margin-bottom: 15px;
}

.nav-item {
    text-align: center;
    font-size: 18px;
    color: black;
}

.nav-item:hover {
    font-weight: bold;
}


