.cards{
    width: 100%;
    text-align: center;
}

.card{
  width: 30%;
  height: 110px;
  display: inline-block;
  text-align: center;
  margin: 1.5%;
  vertical-align: middle;

}

.header{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    margin-left: 40px;
}

.dropdowns{
    width: 100%;
    text-align: left;
}

.dropdown{
  font-size:22px;
  font-weight: bold;
  text-align: center;
  margin-left: 60px;
  margin: 1.5%;
  width: 30%;
  display: inline-block;
  vertical-align: middle;
}

