.cards {
  width: 100%;
  text-align: center;
}

.card {
  width: 30%;
  height: 110px;
  display: inline-block;
  text-align: center;
  margin: 1.5%;
  vertical-align: middle;
}

h1 {
  margin-bottom: -10px;
  padding-left: 15%;
}

hr {
  color: gray;
}

.header {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
  margin-left: 40px;
}

.dropdowns {
  width: 100%;
  text-align: left;
}

.dropdown {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-left: 60px;
  margin: 1.5%;
  width: 30%;
  display: inline-block;
  vertical-align: middle;
}

.alert {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  color: red;
}

#resetButton {
  background-color: #a7cab1;
  float: right;
  margin-right: 2em;
  margin-top: -8px;
}

canvas {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
